/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}


body {
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      "Lucida Grande";
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.6;
  color: #fff;
  overflow: hidden;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
  opacity: 0.65;
  z-index: 1;
}


.img {
  padding: 95px 0;
}

.cta {
  padding-top: 151px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: .33px;
}

.who {
  padding-left: 24px;
}

.spam {
  padding-right: 15px;
}

.invite {
  padding-right: 50px;
}


.custom-file-control:invalid, .form-control:invalid {
    background-image: linear-gradient(0deg,#fff 3px,rgba(213,0,0,0) 0),linear-gradient(0deg,#fff 1px,transparent 0);
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#fff 3px,rgba(0,150,136,0) 0),linear-gradient(0deg,#fff 1px,transparent 0);
}

.form-signin {
  width: 100%;
  max-width: 403px;
  padding: 15px 0;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 20px 0;
  font-size: 16px;
  color: #fff;
}


.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: .25px;
}

.form-signin input[type="email"]:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  letter-spacing: .25px;
}

.btn.btn-lg {
  height: 66px;
  width: 173px;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
  background-color: #FFFFFF;
  color: #FF76D2;
  letter-spacing: 0.33px;
  margin-top: 100px;
}

.btn.btn-primary:hover {
  color: #FF76D2;
  background-color: hsla(0,0%,60%,.2);
  border-color: hsla(0,0%,60%,.2);
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #FF76D2;
  background-color: hsla(0,0%,60%,.2);
  border-color: hsla(0,0%,60%,.2);
}

/*input:invalid {
  background: url("../img/crown.png") right no-repeat;
  padding-right: 17px;
  border-bottom: 3px solid white;
}
*/
input:required:valid {
    background: url("../img/crown.png") right no-repeat;
    padding-right: 17px;
    border-bottom: 3px solid white;
  }


/*input[type=email]:optional:enabled {
    background: url("../img/crown.png") right no-repeat;
    padding-right: 17px;
    border-bottom: 3px solid white;
  }*/



@media (max-width: 768px) {

  .img {
    padding: 85px;
    margin-top: -69px;
  }

  .cta {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.67px;
  }

  .who {
    padding-left: 8px;
  }

  .spam {
    padding-right: 15px;
  }

  .invite {
    padding-right: 50px;
  }


  .form-signin {
    width: 100%;
    max-width: 403px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    padding-left: 29px;
    padding-right: 47px;
  }

  .btn.btn-lg {
    height: 66px;
    width: 173px;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    background-color: #FFFFFF;
    color: #FF76D2;
    letter-spacing: 0.33px;
    margin-top: 60px;
  }
}






